# only ignore the /x64 file in the current
directory, not subdir/x64
/x64

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Ark Helper/x64/Debug/vcpkg.applocal.log
/Ark Helper/x64
Ark Helper/Ark Helper.vcxproj
Ark Helper/Ark Helper.vcxproj.filters
Ark Helper/Ark Helper.vcxproj.user
/.vs
